[submodule "libs/yasnippet"]
	path = libs/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "libs/auto-complete"]
	path = libs/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "libs/go-mode"]
	path = libs/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "libs/gocode"]
	path = libs/gocode
	url = https://github.com/nsf/gocode.git
[submodule "libs/go-errcheck"]
	path = libs/go-errcheck
	url = https://github.com/dominikh/go-errcheck.el.git
[submodule "libs/popup"]
	path = libs/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "libs/markdown-mode"]
	path = libs/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "libs/lua-mode"]
	path = libs/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "libs/js2-mode"]
	path = libs/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "libs/web-mode"]
	path = libs/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "libs/org-pandoc"]
	path = libs/org-pandoc
	url = https://github.com/robtillotson/org-pandoc.git
[submodule "libs/emacs-async"]
	path = libs/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "libs/pyim"]
	path = libs/pyim
	url = https://github.com/tumashu/pyim.git
[submodule "libs/pyim-basedict"]
	path = libs/pyim-basedict
	url = https://github.com/tumashu/pyim-basedict.git
[submodule "libs/pyim-greatdict"]
	path = libs/pyim-greatdict
	url = https://github.com/tumashu/pyim-greatdict.git
[submodule "libs/web-beautify"]
	path = libs/web-beautify
	url = https://github.com/yasuyk/web-beautify.git
